.icon {
  width: 24px;
  height: 24px;
  display: block;

  &--menu {
    background-image: url(../images/logo/menu_logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // @include on-tablet {
    position: absolute;
    top: 27px;
    left: 24px;
    // z-index: 10;
    // }
  }
  &--array {
    background-image: url(../images/logo/icon--array-whit.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &--close {
    background-image: url(../images/logo/icon-close.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
  }
}
