.icon {
  width: 24px;
  height: 24px;
  display: block;

  &--menu {
    background-image: url(../images/logo/menu_logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 27px;
    left: 24px;
  }
  &--array {
    background-image: url(../images/logo/icon--array-whit.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &--array--black {
    background-image: url(../images/logo/icon--array-black.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &--close {
    background-image: url(../images/logo/icon-close.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
  }
  &--instagram {
    background-image: url(../images/logo/instagram\ \(3\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // background-color: pink;
    width: 24px;
    height: 24px;
    display: block;
  }
  &--facebook {
    background-image: url(../images/logo/facebook-letter-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
  }
  &--logo {
    background-image: url(../images/logo/main-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 53px;
  }
}
