body {
  margin: 0;
  font-family: $font-family-plex;
  font-size: 16px;
  line-height: 16px;
  color: $second-text-color;
}

.bould {
  font-weight: 700;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;

  @include on-tablet {
    font-size: 48px;
  }
}
