.top-bar {
  padding: 27px 24px 0;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  background-image: url('../images/main_img.png');
  background-size: cover;
  background-position: center;
  z-index: -10;
  &__logo {
    display: block;
    width: 55px;
    height: 61px;
    background-image: url('../images/logo/main-logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  @include on-tablet {
    height: 384px;
  }
  @include on-desktop {
    height: 655px;
  }
}
