$tablet-min-width: 768px;
$destop-min-width: 1280px;
$c-gray: #eee;
$main-text-color: #0f0e08;
$frey-text-color: #687480;
$green-color: #1a5a4c;
$whigt-color: #fff;
$second-text-color: #4e4e4e;
$font-family-plex: 'IBM Plex Sans', sans-serif;
